<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>


<h1>랜덤 만남 채팅</h1>
당신의 닉네임<div id="id"></div>
당신의 성별<div id="yy"></div>
상대의 성별<div id="tt"></div>
<div>
  받는 사람<input type="text" id="input2"><br>
  내용<input type="text" id="input3">
  <button type="type" id="sendbtn">send</button>
</div>
<script src="/js/test.js" type="text/javascript"></script>
<div th:replace="footer.html :: footer"></div>
</body>
</html>