<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>
<div class="container">
  <div class="chat_area">
    <div class="row">
      <h1 class="chat_area_title">채팅창</h1>
      <div class="col-sm-2 offset-4">
        <!--<span class="chat_info"><span id="id"></span><span class="chat_text">번으로 접속 중입니다</span></span><br>-->
        <!--<span class="chat_text">당신의 성별 : </span><span class="chat_info" id="yy"></span><br>-->
        <!--<span class="chat_text">상대의 성별 : </span><span class="chat_info" id="tt"></span><br>-->
        (임시)당신의 아이디<div id="id"></div>
        당신의 닉네임<div id="yname"></div>
        당신의 나이<div id="yage"></div>
        당신의 성별<div id="ysex"></div>
        상대의 성별<div id="tsex"></div>
        (임시)x좌표<div id="locationX"></div>
        (임시)y좌표<div id="locationY"></div>
      </div>
      <div class="col-sm-2">
        <div>
          <span class="chat_info">내용</span><span class="chat_text"><input type="text" id="input3"></span>
          <button class="btn btn-info" type="type" id="sendbtn">send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/test.js" type="text/javascript"></script>
<div th:replace="footer.html :: footer"></div>
</body>
</html>