<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>


<h1>랜덤 만남 채팅</h1>
(임시)당신의 아이디<div id="id"></div>
당신의 닉네임<div id="yname"></div>
당신의 나이<div id="yage"></div>
당신의 성별<div id="ysex"></div>
상대의 성별<div id="tsex"></div>
(임시)x좌표<div id="locationX"></div>
(임시)y좌표<div id="locationY"></div>
<div>
  내용<input type="text" id="input3">
  <button type="type" id="sendbtn">send</button>
</div>

<script src="/js/test.js" type="text/javascript"></script>
<div th:replace="footer.html :: footer"></div>
</body>
</html>