<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header.html :: header"></div>
<div id="yuor_ip">yuor_ip</div>
<div id="your_coordinate">your_coordinate</div>

<h1>랜덤 만남 채팅</h1>
<div class="d-flex flex-wrap justify-content-center p-3">
    <ul class="nav">
        <li class="nav-item"> <a class="nav-link text-dark" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"> 시작하기 </a> </li>
    </ul>
</div>
<div>
    받는 사람<input type="text" id="input2"><br>
    내용<input type="text" id="input3">
    <button type="type" id="sendbtn">send</button>
</div>

<script src="/js/test.js"></script>
<div th:replace="footer.html :: footer"></div>
</body>
</html>